.projects {

  &__text-container {
    padding-top: 167px;
    padding-left: 93px;
  }

  &__projects-container {
    padding: 0 93px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: -100px;
  }
}

@media (max-width: 1360px) {

  .projects__text-container {
    padding-top: 48px;
    padding-left: 0;
  }

  .projects__projects-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px 24px;
    padding: 0;
  }
}
