@use '/src/styles/vars';

.button {
  background-color: transparent;
  padding: 12px 32px;
  border: 3px solid;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  transition: 0.2s;

  &_base-color {
    color: vars.$base-color;
    background-color: transparent;
    border-color: vars.$base-color;
    transition: 0.2s;

    &:hover {
      color: vars.$white-color;
      background-color: vars.$base-color;
      transition: 0.2s;
    }

    &--full {
      color: vars.$white-color;
      background-color: vars.$base-color;
      border-color: vars.$base-color;
      transition: 0.2s;

      &:hover {
        color: vars.$base-color;
        background-color: transparent;
        transition: 0.2s;
      }
    }
  }

  &_white-color {
    color: vars.$white-color;
    background-color: transparent;
    border-color: vars.$white-color;
    transition: 0.2s;

    &:hover {
      color: vars.$base-color;
      background-color: vars.$white-color;
      transition: 0.2s;
    }

    &--full {
      color: vars.$base-color;
      background-color: vars.$white-color;
      border-color: vars.$white-color;
      transition: 0.2s;

      &:hover {
        color: vars.$white-color;
        background-color: transparent;
        transition: 0.2s;
      }
    }
  }
}
