@use '/src/styles/vars';

.card {
  height: 60px;
  box-shadow: 0 0 12px 1px adjust-color(vars.$base-color, $lightness: +40%);
  color: #777;
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.2s ease-out;

  &_img {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }

  &:hover {
    transform: translate(1px, -1px);
    box-shadow: none;
    transition: 0.1s  ease-out;
  }
}
