@use '/src/styles/vars';

.card {
  height: 60px;
  box-shadow: 0 0 8px adjust-color(vars.$base-color, $lightness: +40%);
  color: #777;
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 12px;

  &_img {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
}
