@use '/src/styles/vars';

.project-card {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -205px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s linear;

  @media (max-width: vars.$phone-breakpoint) {
    width: 343px;
  }

  &:hover {
    filter: grayscale(80%);
  }

  &:hover .project-card__img{
    border-radius: 50%;
    transition: all 0.3s;
  }

  &:hover .project-card__label{
    text-decoration: underline;
  }

  &__img {
    width: 450px;
    height: 450px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    transition: all 0.3s;
    object-position: 0 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    @media (max-width: vars.$phone-breakpoint) {
      width: 343px;
      height: 343px;
    }
  }

  &__label {
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: vars.$white-color;
    text-align: center;
    // background-color: fade-out(vars.$base-color, 0.5);
    background-color: rgba(5, 5, 5, 0.7);
    padding: 8px 0;
    position: absolute;
    top: 85%;
    width: 100%;
  }

  &__info-container {
    display: flex;
  }

  &__info {
    width: 50%;
    padding: 0 8px;
  }

  &__border {
    width: 4px;
    background-color: vars.$base-color;
  }

  &:nth-child(even) {
    align-self: flex-start;

    @media (max-width: 1360px) {
      align-self: auto;
    }
  }

  &:first-child {
    margin-top: -99px;

    @media (max-width: 1360px) {
      margin-top: 32px;
    }
  }
}

@media (max-width: 1360px) {
  .project-card {
    margin-top: 0;
  }
}
