@use '/src/styles/vars';

.project-card {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -205px;
  // overflow: hidden;
  cursor: pointer;
  transition: all 0.3s linear;

  @media (max-width: vars.$phone-breakpoint) {
    width: 343px;
  }

  &:hover .project-card__img{
    border-radius: 50%;
    transition: all 0.3s ease-out;
  }

  &:hover .project-card__info-container {
    transform: translate(7px, -7px);
    transition: transform 0.3s ease-out;
  }

  &__img {
    width: 450px;
    height: 450px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    transition: all 0.3s;
    object-position: 0 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition: all 0.3s ease-out;

    @media (max-width: vars.$phone-breakpoint) {
      width: 343px;
      height: 343px;
    }
  }

  &__info-container {
    line-height: normal;
    width: 100%;
    transition: transform 0.3s ease-out;
  }

  &__label {
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
    margin: 16px 0;
  }

  &__technos {
    font-size: 12px;
  }

  &:nth-child(even) {
    align-self: flex-start;

    @media (max-width: 1360px) {
      align-self: auto;
    }
  }

  &:first-child {
    margin-top: -99px;

    @media (max-width: 1360px) {
      margin-top: 32px;
    }
  }
}

@media (max-width: 1360px) {
  .project-card {
    margin-top: 0;
  }
}
