@use '/src/styles/vars';

.project-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -205px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    filter: grayscale(90%);
  }

  &:hover .project-card__img{
    border-radius: 50%;
    transition: all 0.3s;
  }

  &:hover .project-card__label{
    text-decoration: underline;
  }

  &__img {
    width: 450px;
    height: 450px;
    object-fit: contain;
    transition: all 0.3s;
    object-position: 0 50%;

    @media (max-width: vars.$phone-breakpoint) {
      width: 343px;
      height: 343px;
    }
  }

  &__label {
    font-size: 24px;
    font-family: 'Gilroy-Bold', sans-serif;
  }

  &:nth-child(even) {
    align-self: flex-start;

    @media (max-width: 1360px) {
      align-self: auto;
    }
  }

  &:first-child {
    margin-top: -99px;

    @media (max-width: 1360px) {
      margin-top: 32px;
    }
  }
}

@media (max-width: 1360px) {
  .project-card {
    margin-top: 0;
  }
}
