@use '/src/styles/vars';

.project-card {
  position: relative;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-top: -205px;
  cursor: pointer;
  transition: all 0.3s linear;

  @media (max-width: vars.$phone-breakpoint) {
    width: 343px;
  }

  &:hover .project-card__img {
    border-radius: 50%;
    transition: all 0.3s ease-out;
  }

  &:hover .project-card__circle-container {
    transform: translate(-50%, -50%) rotate(95deg);
    transition: transform 0.3s ease-out;
  }

  &:hover .project-card__info-container {
    transform: translate(7px, -7px);
    transition: transform 0.3s ease-out;
  }

  &__img {
    width: 450px;
    height: 450px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    transition: all 0.3s;
    object-position: 0 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition: all 0.3s ease-out;
    z-index: 2;

    @media (max-width: vars.$phone-breakpoint) {
      width: 343px;
      height: 343px;
    }
  }

  &__circle-container {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    transition: transform 0.3s ease-out;

    @media (max-width: vars.$phone-breakpoint) {
      width: 267px;
      height: 267px;
      top: 343px;
    }
  }

  &__circle {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: all 0.3s ease-out;
    background: radial-gradient(90.14% 100% at 50% 0%, vars.$base-color 0%, rgba(45, 0, 102, 0) 100%);

    @media (max-width: vars.$phone-breakpoint) {
      width: 73px;
      height: 73px;
    }
  }

  &__info-container {
    line-height: normal;
    width: 100%;
    transition: transform 0.3s ease-out;
  }

  &__label {
    font-size: 32px;
    font-family: 'Gilroy-Bold', sans-serif;
    margin: 12px 0;
  }

  &__technos {
    font-size: 12px;
  }

  &:nth-child(even) {
    align-self: flex-start;

    @media (max-width: 1360px) {
      align-self: auto;
    }
  }

  &:first-child {
    margin-top: -99px;

    @media (max-width: 1360px) {
      margin-top: 32px;
    }
  }
}

@media (max-width: 1360px) {
  .project-card {
    margin-top: 0;
  }
}
