@use '/src/styles/vars';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideinNav {
  from {
      transform: translateX(50px) translateY(-50%);
      opacity: 0;
  }

  to {
      transform: translateY(-50%);
      opacity: 1;
  }
}

@keyframes slideinLanguage {
  from {
      transform: translateX(50px);
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes slideinEllipse {
  from {
    transform: rotate(37.39deg);;
    opacity: 0;
  }

  to {
      transform: rotate(37.39deg);
      opacity: 1;
  }
}

@keyframes startAnimation {
    from {
        transform: translateX(50vw);
        font-size: 70px;

        @media (max-width: vars.$tablet-breakpoint) {
          transform: translateX(30vw);
          }
    }
    to {
        transform: translateX(0);
        font-size: 16px;
    }
}
