@keyframes slidein {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes startAnimation {
    from {
        transform: translateX(500px) scale(1.5);
    }
    to {
        transform: none;
    }
}
