@use 'reset';
@use 'vars';

body {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  line-height: 23.7px;
}

.base_color {
  color: vars.$base-color;
}

.bold {
  font-weight: 700;
}

.section_title {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
}

.second-color {
  color: #a5ff33;
}

@media (max-width: vars.$phone-breakpoint) {
  .section_title {
    font-size: 32px;
  }
}
