@use '/src/styles/_vars.scss';
@use '/src/styles/animation.scss';

@keyframes fall {
  from {
    bottom: 700px;
  }
  to {
    bottom: 267px;
  }
}

@keyframes underline {
  from {
    width: 100%;
  }
  to {
    width:0%;
  }
}

.description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100%;

  &__text-container {
    width: 50%;
    padding-top: 177px;
    padding-right: 20px;
  }

  &__iam {
    margin-left: 10px;
    animation: slidein 0.5s ease-in;
  }

  &__title {
    animation: slidein 0.5s ease-in;
  }

  &__button_container {
    margin-top: 80px;
    display: flex;
    gap: 24px;
    animation: slidein 0.5s ease-in;
  }

  &__img-container {
    position: relative;
    width: 50%;
  }

  &__text {
    margin-top: 48px;
    animation: slidein 0.5s ease-in;
  }

  &__job {
    animation: slidein 0.5s ease-in;
  }
}


.nicolas-img {
  position: absolute;
  z-index: 1;
  bottom: -180px;
  right: 0;
  cursor: pointer;
  animation: slidein 0.5s ease-in;
}

.glasses-img {
  cursor: pointer;
  width: 140px;
  position: absolute;
  right: 142px;
  z-index: 2;
  animation: fall 1s linear forwards;
}

.description_ellipse {
  position: absolute;
  width: 986px;
  height: 986px;
  right: -450px;
  top: -450px;
  border-radius: 50%;
  background: radial-gradient(90.14% 100% at 50% 0%, vars.$base-color 0%, rgba(45, 0, 102, 0) 100%);
  transform: rotate(37.39deg);
  animation: slideinEllipse 0.5s ease-in;
}

#hello {
  display: inline-block;
  max-width: 80vw;
  line-height: normal;

  &.startanimation {
    animation: startAnimation 1s linear backwards 1.2s;

    &::before {
      animation: underline .25s ease-out 1s forwards;
    }
  }

  &::before {
    content: "";
    background-color: vars.$base-color;
    transition: 0.4s ease-out;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}

@media (max-width: vars.$tablet-breakpoint) {
  .description__img-container {
    display: none;
  }

  .description__text-container {
    width: 80%;
  }
}

@media (max-width: vars.$phone-breakpoint) {

  .description__text-container {
    width: 100%;
    padding-right: 0;
    padding-top: 88px;
  }

  .description_ellipse {
    top: -320px;
    right: -250px;
    width: 550px;
    height: 550px;
  }

  .description__text {
    margin-top: 24px;
  }

  .description__button_container {
    margin-top: 54px;
  }
}
