@use '/src/styles/_vars.scss';
@use '/src/styles/animation.scss';

@keyframes fall {
  from {
    top: -100px;
  }
  to {
    top: 285px
  }
}

.description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100%;

  &__text-container {
    width: 50%;
    padding-top: 177px;
    animation: slidein 0.5s ease-in;
  }

  &__button_container {
    display: flex;
    gap: 24px;
    animation: slidein 0.5s ease-in;
  }

  &__img-container {
    position: relative;
    width: 50%;
  }
}


.nicolas-img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.glasses-img {
  cursor: pointer;
  width: 140px;
  position: absolute;
  top: 210px;
  left: 1012px;
  z-index: 2;
  animation: fall 1s linear forwards;
}

.description_ellipse {
  position: absolute;
  width: 986px;
  height: 986px;
  right: 0;
  top: 500px;
  border-radius: 50%;
  
  background: radial-gradient(90.14% 100% at 50% 0%, vars.$base-color 0%, rgba(45, 0, 102, 0) 100%);
  transform: rotate(37.39deg);
}

@media (max-width: vars.$tablet-size) {
  .nicolas-img {
    display: none;
  }

  .description__img-container {
    width: 0;
  }

  .description__text-container {
    width: 80%;
  }
}
