@use '/src/styles/vars';

.section {
  margin: auto;
  overflow: hidden;

  &:nth-child(odd) {
    background-color: vars.$white-color;
    color: vars.$black-color;
  }

  &:nth-child(even) {
    background-color: vars.$base-color;
    color: vars.$white-color;
  }
}

.content_container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
  position: relative;
}


