@use '/src/styles/vars';

.section {
  margin: auto;
  overflow: hidden;
  position: relative;

  &:nth-child(odd) {
    background-color: vars.$white-color;
    color: vars.$darkgrey-color;
    
    & .section_title {
      color: vars.$black-color;
    }
  }

  &:nth-child(even) {
    background-color: vars.$base-color;
    color: vars.$white-color;

    & > .section_title {
      color: vars.$white-color;
    }
  }
}

.content_container {
  height: auto;
  max-width: 1440px;
  min-width: 220px;
  margin: 0 auto;
  padding: 0 112px 180px;
  position: relative;
}

@media (max-width: vars.$phone-breakpoint) {
  .content_container {
    padding: 0 16px 65px;
  }
}
