@use '/src/styles/vars';

.contact {

    &__text-container {
        text-align: center;
        line-height: normal;
    }

    &__subtitle {
        position: relative;
        z-index: 1;
        font-size: 24px;
        margin-top: 180px;

        @media (max-width: 1360px) {
          margin-top: 80px;
        }
    }

    &__big-title {
        position: relative;
        z-index: 1;
        font-size: 96px;
        font-weight: 700;
        font-family: 'Gilroy', sans-serif;
        margin-top: 40px;

        @media (max-width: 1360px) {
          font-size: 48px;
          margin-top: 24px;
        }
    }

    &__button-container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 36px;
        margin-top: 48px;

        @media (max-width: vars.$phone-breakpoint) {
          // width: 450px;
          margin: 48px auto 0;
          gap: 24px;
        }
    }

    &__sayhi-button {
      @media (max-width: vars.$phone-breakpoint) {
        margin: 0 calc(50% - 130px);
      }
    }

    &__ellipse {
        z-index: 0;
        position: absolute;
        border-radius: 50%;
        width: 1570px;
        height: 1570px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        background: radial-gradient(63.52% 50% at 50% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

        @media (max-width: 1360px) {
          top: 75px;
        }

        @media (max-width: vars.$phone-breakpoint) {
          top: -40px;
        }
    }
}
