@use '/src/styles/vars';
@use '/src/styles/animation.scss';

@keyframes shake {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  to {
    transform: translateX(0);
  }
}

.competences {

  &__contents-container {
    display: flex;
  }

  &__text-container {
    width: 440px;
    min-width: 350px;
    padding-top: 141px;

    @media (max-width: vars.$tablet-breakpoint) {
     width: 100%;
    }

    @media (max-width: vars.$phone-breakpoint) {
      padding-top: 80px;
     }
  }

  &__list-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 48px;

    @media (max-width: vars.$phone-breakpoint) {
      gap: 32px;
      margin-top: 32px;
     }
  }

  &__list {
    z-index: 1;
    
    &:hover {
      cursor: pointer;
      font-weight: 700;
      text-shadow: 0 0 18px adjust-color(vars.$base-color, $lightness: +40%);
    }

    &--active{
      font-size: 18px;
      font-weight: 700;
      text-shadow: 0 0 18px adjust-color(vars.$base-color, $lightness: +40%);
      animation: shake 0.8s infinite ease;
    }
  }

  &__card-container--smallscreen {
    display: none;
    width: 88%;
    margin: auto;
    flex-wrap: wrap;
    gap: 16px;
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;

    // & > .card {
    //   transform: translateY(0);
    //   transition: transform 0.6s ease-in-out;
    // }

    &.closed {
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1.02);

      // & > .card {
      //   transform: translateY(-300px);
      //   transition: transform 0.5s linear;
      // }
    }

    @media (max-width: vars.$tablet-breakpoint) {
      display: flex;
    }
  }
}

.competences_ellipse {
  position: absolute;
  z-index: 0;
  width: 766px;
  height: 766px;
  left: -85px;
  top: 180px;
  border-radius: 50%;
  background: radial-gradient(92.54% 72.85% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  transform: rotate(118.47deg);
  transition: transform 0.3s ease-in;

  @media (max-width: vars.$phone-breakpoint) {
    top: 150px;
    left: auto;
    right: 20%;
  }
}
